<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row clearfix">
    <div class="col-md-12 column">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
      <h2>
        Generate All Reports
      </h2>

      <p>
        <%= form_for(@record_form, {url: '/admin/reports/generate', method: :get}) do |f| %>
          <div class="form-group">
            <%= f.label(:start_time) %><br>
            <%= f.datetime_select(:start_time, { prompt: { year: Time.current.year, month: 'Choose Month', day: 'Choose days' }}, { class: 'form-control' }) %>
            <br>
            <%= f.label(:end_time) %><br>
            <%= f.datetime_select(:end_time, {}, { class: 'form-control' }) %><br>
            <%= f.label(:type_id) %><br>
            <%= f.collection_select(:type_id, f.object.types, :id, :name, {prompt: 'Please Select'}, { class: 'form-control' }) %><br>
            <%= f.submit 'Preview', class: 'btn btn-default ' %><br>
          </div>
      <% end %>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        Constructing
      </h2>

      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>

      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        I told u it is in constructing
      </h2>

      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>

      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
</div>