<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row clearfix">
    <div class="col-md-12 column">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
      <h2>
        Generate Reports
      </h2>

      <p>
        Generate all people reports
      </p>

      <p>
        <%= form_tag('/admin/reports/generate', method: :get) do %>
          <div class="form-group">
            <%= label_tag(:start_time) %><br>
            <%= select_date(nil,{prompt: { year: Time.current.year, month: 'Choose Month', day: 'Choose days' },prefix: :start_time }, { class: 'form-control' }) %>
            <br>
            <%= label_tag(:end_time) %><br>
            <%= select_date(Time.current, {prefix: :end_time}, {class: 'form-control'}) %><br>
            <%= label_tag(:record_type) %><br>
            <%= select_tag(:record_type_id, options_from_collection_for_select(@record_types, :id, :name), class: 'form-control') %><br>
            <%= submit_tag 'Generate', class: 'btn btn-default ' %><br>
          </div>
      <% end %>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        Contructing
      </h2>

      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>

      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        I told u it is in constructing
      </h2>

      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>

      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
</div>